.heading{
    width: 100%;
    font-size: 23px;
    box-shadow: 5px,5px,5px gray;
    margin: 0px;
    background-color: gray;
    color: black;
 
}
.heading_div2{
    font-size: 18px;
    color: white;
}
.heading_info{
    color:white;
    box-shadow: 5px,5px,5px grey;
    border-radius: 20px;
    background: white;
    width: 450px;
    float: none;
    padding: 10px;
    background-color:black;

}
canvas{
    border: 5px solid white;
    border-radius: 20px;
    box-shadow: 5px,5px,5px grey;
    margin-top: 100px;
  

}
.result_para{
    font-size: 25px;
    color: white;
    background: grey;
}
.copyright_footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    background: grey;
    color: white;
    text-align: center;
    line-height: 3;


}